@model TimeTableViewModel
@{
    ViewData["Title"] = "TimeTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["message"] Тут вы можете увидеть своё расписание ( в разработке)</h2>
<form id='form-id' asp-action="TimeTable" method="get">

    <p><input type="checkbox" name="eventCheckbox" value="True" > Мероприятия</p>
    <p><input type="checkbox" name="homeworkCheckbox" value="True" > Домашнее задание</p>
    <p><input type="submit" value="Изменить"></p>
</form>

@foreach (var day in Model.Days)
{
<div class="table-container">
    <br /> 
    <br />
    <h5> @day.Value.Name: @day.Value.Date.ToString("dd MMMM yyyy")</h5>
    <div>
        <table>
            <tr>
                <th class="time-th">Время</th>
                <th>Предмет</th>
                <th>Что нужно знать</th>
                <th></th>
            </tr>
            @foreach (var homework in day.Value.HomeWorks)
            {
                <tr>
                    <td>@homework.Deadline.TimeOfDay.ToString("hh\\:mm")</td>
                    <td>@homework.Course.CourseName</td>
                    <td>@homework.Title</td>
                    <td>
                        <a data-toggle="modal" data-target="#addHomework">
                            <svg style="width:50px;height:50px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
            @foreach (var e in day.Value.Events)
            {
                <tr class="event-color-tr">
                    <td>@e.StartTime.TimeOfDay.ToString("hh\\:mm")</td>
                    <td colspan="2">@e.Name</td>
                    <td>
                        <a data-toggle="modal" data-target="#addEvent">
                            <svg style="width:50px;height:50px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
}

<div class="modal fade" id="addHomework" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
    <div class="modal-dialog" role="document" style="width :35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Добавление домашней РАБоты</h5>
            </div>
            <div class="modal-body" style="height: 500px;">
                <form method="post" action="/Home/CreateHomework">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Название</label>
                        <input class="form-control" name="title" aria-describedby="emailHelp" placeholder="Введите название">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Описание</label>
                        <textarea class="form-control" name="description" id="exampleInputPassword1" placeholder="Описание" style="height:150px"></textarea>
                    </div>
                    <input type="file" name="Ffile">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width :35%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление мероприятий</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" height: 500px;">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Название</label>
                        <input class="form-control" aria-describedby="emailHelp" placeholder="Введите название">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Описание</label>
                        <textarea class="form-control" id="exampleInputPassword1" placeholder="Описание" style="height:150px"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

